BouquetMakerXtream/usr/lib/enigma2/python/Plugins/Extensions/BouquetMakerXtream/xmltv.dtd

<!ELEMENT tv (channel*, programme*)><!ATTLIST tv generator-info-name CDATA #IMPLIED generator-info-url CDATA #IMPLIED ><!ELEMENT channel (display-name+, icon*)><!ATTLIST channel id CDATA #REQUIRED><!ELEMENT display-name (#PCDATA)><!ELEMENT icon EMPTY><!ATTLIST icon src CDATA #REQUIRED><!ELEMENT programme (title+, desc*)><!ATTLIST programme start CDATA #REQUIRED stop CDATA #IMPLIED channel CDATA #REQUIRED><!ELEMENT title (#PCDATA)><!ELEMENT desc (#PCDATA)>
